.search-content .search-input{
    background-color: #26182d;
    border-radius:10px;
}

.search-input input{
    border: 1px solid white;
    padding: 5px 10px;
    border-radius: 7px;
}

@media (width<= 500px) {
    .search-input{
        flex-direction: column;
        height: fit-content;
    }

    .search-input .text{
        margin-bottom: 10px;
    }
    .header-title{
        font-size: 14px;
    }
}