.movies-overview-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 1rem;
  padding: 2rem;
  background: #3a2b40;
}

/* Card */
.movie-overview-card {
  display: flex;
  align-items: center;
  gap: 1rem;
  background: #4b3a57;
  border-radius: 0.6rem;
  padding: 0.6rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  color: #fff;
  cursor: pointer;
}

.movie-overview-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 14px rgba(0, 0, 0, 0.5);
}

/* Poster */
.movie-overview-poster img {
  width: 60px;
  height: 90px;
  object-fit: cover;
  border-radius: 0.4rem;
}

.movie-overview-title{
    flex: 1;
}
/* Title */
.movie-overview-title h3 {
  font-size: 1rem;
  font-weight: 600;
  color: #ffd369;
  margin: 0;
  line-height: 1.2;
}

.movie-overview-title p{
    margin-top: 6px;
    color: #999;
    font-size: .8rem;
}

.movie-overview-title button{
  background-color: #3a2b40;
  padding: 4px 10px;
  border-radius: 6px;
  cursor: pointer;
}